/* SETTINGS */

:root {
  --color1: #444444;
  --color2: #999999;
  --color3: #cccccc;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("./PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  margin: 20px 0;
  font-family: "Roboto";
  justify-content: center;
}

.portrait_container {
  z-index: 7;
}

.portrait {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 7px black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  font-size: 350%;
  text-shadow: 2px 2px 2px black;
  font-family: "Playfair";
  padding: 10px;
}

.about_me {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.about_me_card {
  background-color: white;
  padding: 30px;
  margin: 40px 0;
  box-shadow: 3px 3px 7px darkgrey;
  z-index: 1;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 50px;
}

.icons img {
  width: 25px;
  padding: 0 5px;
}

.icons img:hover {
  transform: scale(1.1);
}

.decoration_square {
  position: absolute;
  z-index: -1;
  background-color: teal;
  width: 700px;
  height: 1500px;
  transform: translateX(-130%) translateY(-20%) rotateZ(55deg);
}

/* CONTENT */

.content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.content h2 {
  margin: 0 0 0 10px;
  padding: 0;
}

.inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 30px;
  font-family: "Playfair";
}

.box {
  border: 2px solid black;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 3px 3px 7px black;
  transition: transform 0.2s ease-in 0.05s;
}

.box:hover {
  transform: scale(1.05);
}

.screenshot {
  background-color: maroon;
  border-bottom: 2px solid black;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 160%;
}

.box p {
  padding: 0 10px 10px 10px;
  margin: 0;
}

.box h4 {
  padding: 10px;
  margin: 0;
}

.box_icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.box_icons img {
  width: 25px;
  padding: 10px;
}

.box_icons img:hover {
  transform: scale(1.1);
}

/* FOOTER */

footer {
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: teal;
  padding: 5px;
  font-family: "Playfair";
  color: #fff;
}

.contact_me {
  padding: 40px;
}

.bottom_image {
  margin: 20px;
}

.bottom_image img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  box-shadow: 3px 3px 7px black;
}

/* MEDIA QUERIES */

@media (max-width: 1080px) {
  header {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
  .screenshot {
    padding: 20px;
  }
}

@media (max-width: 680px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 1fr 1fr 0px;
  }
  .inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .bottom_image img {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .portrait_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portrait {
    width: 250px;
  }
  .about_me_card {
    margin: 0;
    padding: 5px;
  }
  .inner {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .content {
    margin-top: 0;
    display: grid;
    grid-template-columns: 0px 5fr 0px;
  }
  footer {
    flex-direction: column;
  }
  .contact_me {
    padding: 10px;
  }
  .bottom_image img {
    width: 200px;
  }
}
